/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --mainBlack: #0B0223;
    --mainGray: #534C64;
    --mainWhite: #FFF;
    --mainGradient: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

body {
    font-family: 'Work Sans', sans-serif;
}

.hide {
    display: none;
}

.color-primary {
    background: var(--primaryColor);
    background-clip: text;
    /* for Chrome/Safari */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    border-radius: 48px;
    background: var(--primaryColor);
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-secondary {
    border-radius: 48px;
    background-color: #4EC5F7;
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

header {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2.75rem;
    padding-bottom: 2.875rem;
    background: #FFF;
}

.nav-logo,
.footer-logo {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.nav-logo-text {
    color: var(--mainBlack);
    text-align: center;
    font-size: 2.813rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav-links li,
.footer-nav-links li,
.company-links li {
    list-style: none;
    flex-shrink: 0;
}

a {
    text-decoration: none;
}

.nav-links li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-links .follow {
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 1.1rem 1.5rem;
    display: flex;
}

.follow p {
    margin-right: 0.5rem;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.follow a {
    margin-left: 1rem;
}


/* Hero */
.hero {
    background: url("images/Group14.png");
    background-repeat: no-repeat;
    background-position: left;
}

.hero-container {
    width: 75%;
    max-height: 700px;
    margin: 0 auto;
    padding-top: 1.15rem;
    display: flex;
    justify-content: space-between;
}

.hero-info-container {
    padding: 9.25rem 0;
}

.hero-info-title {
    color: var(--mainBlack);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.hero-info-title .goat {
    background: var(--mainGradient);
    background-clip: text;
    color: transparent;
    /* for Chrome/Safari */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5.938rem;
    font-weight: 800;
    text-transform: uppercase;
}

.hero-info-items-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.563rem;
}

.hero-item {
    display: flex;
    align-items: center;
}

.hero-item p {
    color: var(--mainGray);
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-left: 12px;
}

.hero-btn {
    display: flex;
    gap: 1.5rem;
}

/* hero end */

/* We are gamer */
.we-are-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.we-are-gamer-container {
    width: 75%;
    margin: 0 auto;
    padding: 3.5rem 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3.25rem;
}

.we-are-gamer-content {
    text-align: right;
}

.we-are-gamer-title {
    background: var(--mainGradient);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.we-are-gamer-desc {
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 2rem;
}

.know-more-btn {
    border: 0;
    border-radius: 48px;
    background: var(--primaryColor);
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.we-are-gamer-content .purpose-text {
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
}

.we-are-gamer-content .purpose-text-important {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}

/* We are gamer end */

/* Online games */
.online-games-container {
    width: 75%;
    margin: 7.5rem auto;
}

.online-title {
    color: var(--mainBlack);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.funny,
.instant,
.games {
    background: var(--mainGradient);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.online-desc {
    color: var(--mainGray);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.online-card-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.card p {
    margin-top: 1.5rem;
    color: var(--mainGray);
    font-size: 1.25rem;
    font-weight: 500;
}


/* Online games end */

/* Play instant */
.play-instant-container {
    width: 75%;
    margin: 7.5rem auto 12.25rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-instant-info {
    width: 24%;
    margin-left: 12.5rem;
    text-align: right;
}

.play-instant-title {
    color: var(--mainBlack);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.play-instant-img-container {
    position: relative;
}

.talking-angel {
    position: absolute;
    top: 22.547rem;
    right: 28.844rem;
}

/* Play instant end */

/* Play games */
.play-games-container {
    width: 75%;
    margin: 0 auto 15.188rem auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.play-games-info {
    width: 34%;
    text-align: left;
}

.play-games-title {
    color: var(--mainBlack);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.play-games-img-container {
    position: relative;
}

.cat-img {
    position: absolute;
    left: 33rem;
    top: 25.5rem;
}

/* Play games end */

/* Game tags */
.game-tags {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.game-tag-container {
    width: 75%;
    margin: 0 auto;
    padding: 7.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.688rem;
}

.tag-btn {
    /* flex-shrink: 0; */
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 20px 10px 10px;
}

.tag-btn:hover {
    cursor: pointer;
    color: #FF42A5;
    border: 1px solid #FF42A5;
}

/* Game tag end */

/* footer */
footer {
    background-color: #0B0223;
}

.footer-container {
    margin: 0 auto;
}

.footer-content {
    padding: 7.5rem 0;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    margin-bottom: 3.5rem;
}

.footer-logo-text {
    color: var(--mainWhite);
    text-align: center;
    font-size: 2.813rem;
    font-weight: 700;
}

.footer-nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    margin-bottom: 4.125rem;
}

.footer-nav-links a {
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 4rem;
}

.company-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    margin-bottom: 1.75rem;
}

.company-links a,
.footer-content p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}


/* Media Queries */
@media screen and (max-width: 576px) {

    /* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */
    nav,
    .hero .hero-container,
    .we-are-gamer-container,
    .online-games-container,
    .play-instant-container,
    .play-games-container,
    .game-tag-container {
        width: 100%;
        margin: 0;
    }

    .btn-primary {
        padding: 15px;
        font-size: 14px;
        display: flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
        margin: 0;
    }

    .btn-secondary {
        padding: 15px;
        font-size: 14px;
        display: flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
        margin: 0;
    }

    .funny,
    .instant,
    .games {
        background: var(--mainGradient);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
        font-weight: 700;
    }

    .hero-info-container {
        padding: 0;
    }

    header {
        box-shadow: none;
    }

    nav,
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    nav {
        justify-content: center;
        padding-top: 4rem;
        margin-bottom: 5rem;
    }

    .nav-logo {
        margin-bottom: 3.875rem;
    }

    .follow {
        margin-top: 1.875rem;
    }


    /* Hero */
    .hero {
        background: none;
    }

    .hero-container {
        width: 75%;
        padding-top: 1.15rem;
        margin: 0 au;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .hero-img-container {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .hero-img-container img {
        height: 100%;
        width: 95%;
    }

    .hero-info-container {
        width: 55%;
        padding: 0;
        margin: 4rem auto 0 auto;
        /* padding-top: 3rem;
        padding-bottom: 3rem; */
    }

    .hero-info-title {
        text-align: left;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .hero-info-title .goat {
        text-align: center;
        font-size: 2.5rem;
    }
    .hero-info-items-container {
        margin-bottom: 1.5rem;
        gap: 0;
    }

    .hero-item p {
        font-size: 10px;
    }

    /* hero end */

    /* We are gamer */
    .we-are-gamer {
        background: none;
    }

    .we-are-gamer-container {
        width: 90%;
        padding: 0;
        flex-direction: column-reverse;
        gap: 3.25rem;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }

    .we-are-gamer-content {
        width: 85%;
        text-align: center;
    }

    .we-are-gamer-title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .we-are-gamer-desc {
        text-align: center;
        font-size: 12px;
        margin-bottom: 2rem;
    }

    .know-more-btn {
        margin-bottom: 4rem;
    }

    .we-are-gamer-content .purpose-text {
        text-align: center;
        font-size: 1.3rem;
    }

    .we-are-gamer-content .purpose-text-important {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .we-are-gamer-img-container {
        margin: 0 auto; 
        width: 85%;
    }
    .we-are-gamer-img-container>img {
        width: 90%;
    }

    /* We are gamer end */

    /* Online games */
    .online-games-container {
        width: 95%;
        margin-bottom: 6rem;
    }

    .online-desc {
        font-size: 15px;
    }

    .online-title {
        font-size: 2rem;
    }

    .online-card-container {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: 90%;
    }

    .card {
        width: 95%;
        margin: 0 auto;
    }

    .card img {
        width: 100%;
    }

    /* Online games end */


    /* Play instant */
    .play-instant-container {
        width: 100%;
        flex-direction: column;
        margin: 0 auto 11.5rem auto;
    }

    .play-instant-info {
        width: 70%;
        margin: 0;
        text-align: center
    }

    .play-instant-title {
        width: 100%;
        font-size: 2rem;
    }

    .play-instant-desc {
        width: 100%;
        margin-bottom: 4.625rem;
    }

    .play-instant-img-container {
        background-color: #4EC5F7;
        width: 60%;
    }

    .play-instant-img-container .main-img {
        width: 100%;
    }

    .talking-angel {
        width: 50%;
        position: absolute;
        top: 140px;
        right: 175px;
    }

    /* Play instant end */

    /* Play games */
    .play-games-container {
        width: 100%;
        flex-direction: column;
    }

    .play-games-info {
        width: 70%;
        margin: 0;
        text-align: center
    }

    .play-games-title {
        width: 100%;
        font-size: 2rem;
    }

    .play-games-desc {
        width: 100%;
        margin-bottom: 4.625rem;
    }

    .play-games-img-container {
        background-color: #4EC5F7;
        width: 60%;
    }

    .play-games-img-container .main-img {
        width: 100%;
    }

    .cat-img {
        width: 50%;
        position: absolute;
        top: 140px;
        left: 175px;
    }

    /* Play games end */

    /* Games tags */
    .game-tags {
        background: none;
    }

    .game-tag-container {
        width: 95%;
        margin: 0 auto;
        padding: 7.5rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
    }

    .tag-btn {
        gap: 0.8rem;
        align-items: center;
        border: 0;
        border-radius: 50px;
        background: #FFF;
        color: #0B0223;
        font-size: 9px;
        font-weight: 600;
        padding: 5px 10px 5px 10px;
    }

    /* Games tags end */

    /* Footer */
    .footer-container {
        width: 90%;
    }

    .footer-nav-links {
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .social-icons {
        width: 75%;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 3rem;
        margin-bottom: 4rem;
    }

    .company-links {
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 1.75rem;
    }

    /* Footer End */
}
