/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --mainBlack: #0B0223;
    --mainGray: #534C64;
    --mainWhite: #FFF;
    --mainGradient: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

body {
    font-family: 'Work Sans', sans-serif;
}

.hide {
    display: none;
}

.color-primary {
    background: var(--primaryColor);
    background-clip: text;
    /* for Chrome/Safari */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    display: inline-block;
    border-radius: 48px;
    background: var(--primaryColor);
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-secondary {
    border-radius: 48px;
    background-color: #4EC5F7;
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

header {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);   
}

nav {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2.75rem;
    padding-bottom: 2.875rem;
    background: #FFF;
    
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.nav-logo-text {
    color: var(--mainBlack);
    text-align: center;
    font-size: 2.813rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-links .follow {
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 1.1rem 1.5rem;
    display: flex;
    
}

.follow p {
    margin-right: 0.5rem;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.follow a {
    margin-left: 1rem;
}


/* Hero */
.hero {
    background: url("images/Group14.png");
    background-repeat: no-repeat;
    background-position: left;
}

.hero-container {
    width: 75%;
    max-height: 700px;
    margin: 0 auto;
    padding-top: 1.15rem;
    display: flex;
    justify-content: space-between;
}

.hero-info-container {
    padding: 9.25rem 0;
}

.hero-info-title {
    color:var(--mainBlack);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.hero-info-title .goat {
    background: var(--mainGradient);
    background-clip: text;
    color: transparent;
    /* for Chrome/Safari */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    font-size: 5.938rem;
    font-weight: 800;
    text-transform: uppercase;
}

.hero-info-items-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.563rem;
}

.hero-item {
    display: flex;
    align-items: center;
}

.hero-item p {
    color: var(--mainGray);
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-left: 12px;
}

.hero-btn {
    display: flex;
    gap: 1.5rem;
}

/* Online games */
.online-games {
    width: 75%;
    margin: 7.5rem auto;
}

.online-title {
    color: var(--mainBlack);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.funny, .instant, .games {
    background: var(--mainGradient);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.online-desc {
    color: var(--mainGray);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
.online-card-container {
    display: flex;
    gap: 1.5rem;
}

.card p {
    margin-top: 1.5rem;
    color: var(--mainGray);
    font-size: 1.25rem;
    font-weight: 500;
}
/* Online games end */

/* Play instant */
.play-instant {
    width: 75%;
    margin: 7.5rem auto 12.25rem auto;
}

.play-instant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-instant-info {
    width: 24%;
    margin-left: 12.5rem;
    text-align: right;
}

.play-instant-title {
    color: var(--mainBlack);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.play-instant-img-container {
    position: relative;
}

.talking-angel {
    position: absolute;
    top: 22.547rem;
    right: 28.844rem;
}
/* Play instant end */

/* Play games */
.play-games {
    width: 75%;
    margin: 0 auto 15.188rem auto;
}

.play-games-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.play-games-info {
    width: 34%;
    text-align: left;
}

.play-games-title {
    color: var(--mainBlack);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.play-games-img-container {
    position: relative;
}

.cat-img {
    position: absolute;
    left: 33rem;
    top: 25.5rem;
}
/* Play games end */
